.layout.hide-aside{
    /* max-width:1400px; */
}
.aside-content{
    max-width:312px;
    min-width:300px;
}
.recent-posts{
  width:1800px!important;
}
.page #page:not(.home #page),.page #tag,.page #archive,.page #category{
    border: none!important;
    box-shadow: none!important;
}
