/* 将容器设为90%宽度 */
#container {
  max-width: 90%;
}

/* 如果屏幕宽度大于1200px，则将容器设为100%宽度 */
@media only screen and (min-width: 1200px) {
  #container {
    max-width: 100%;
  }
}

/* 调整文章的宽度 */
.article-entry-wrap {
  width: 100%;
}

/* 调整图片的宽度 */
.article-entry-wrap img {
  max-width: 100%;
  height: auto;
}
